.table-select {
  position: relative;
  width: 135px;
  height: 33px;
  margin: 0 auto;
  border: 1px solid #ccc;
  background-color: #fff;
  cursor: pointer;

  .iconfont {
    position: absolute;
    right: 6px;
    top: 9px;
    font-size: 12px;
  }

  .value-show {
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 33px;
  }

  .option-list {
    display: none;
    position: absolute;
    top: 32px;
    left: -1px;
    z-index: 3;
    width: 100%;
    border: 1px solid #ccc;
    background-color: #fff;
    box-shadow: 1px 3px 5px #ddd;

    &.show {
      display: block;
    }

    .option-item {
      height: 33px;
      line-height: 33px;
      font-size: 12px;

      &:hover {
        background-color: #efefef;
      }
    }
  }
}