.error-wrapper {
  position: relative;
  height: 100%;

  .inner {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300px;
    height: 230px;
    margin: -115px 0 0 -150px;
    text-align: center;
  }

  h1 {
    font-size: 100px;
    color: #999;
  }

  p {
    font-size: 30px;
    color: #999;
  }
}